<!DOCTYPE html>
<html>
<head>
	<!--import Google Icon Font-->
	<link href="https://font.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--import materialize.css-->
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
	<!--Let the browser know the website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial scale=1.0"/>

</head>

<body>
	<nav class="nav-extended">
      <div class="nav-wrapper purple darken-2">
          <a href="#" class="brand-logo">More Recipes</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
           <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="#">Home</a></li>
              <li><a href="#">Advertise</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">About Us</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                  <li><a href="sass.html">Sass</a></li>
                  <li><a href="badges.html">Components</a></li>
                 <li><a href="collapsible.html">JavaScript</a></li>
                </ul>
        </div>
    </nav>
   <div class="responsive-img" style="background-image:url(images/variety.jpg)">
    <div class="row">
        <div class="col s12 m4 l2">
    		<div class="card-panel green">
    			<div>
    				<h5><a  href="#" class="white-text">Local Recipes</a></h5>
    				<hr>
    				<p><a href="#" class="white-text">Nigerian Jollof-Rice</a></p>
    				<hr>
    				<p><a href="#" class="white-text">Fried Rice</a></p>
    				<hr>
    				<p><a href="#" class="white-text">Recipe 1</a></p>
    				<hr>
    				<p><a href="#" class="white-text">Recipe 1</a></p>
    				<hr>
    				<p><a href="#" class="white-text">Recipe 1</a></p>
    				<hr>
    				<p><a href="#" class="white-text">Recipe 1</a></p>
    				<hr>
    				<p><a href="#" class="white-text">Recipe 1</a></p>
    				<hr>
    				<p><a href="#" class="white-text">Recipe 1</a></p>
    				<div><button class="btn hoverable z-depth-4"><a href="#" class="black-text">...More</a></button>
    			</div>
    			</div>	
    		</div>
    	</div>
    	 <nav>
   

    	<div class="col s12 m8 l10">
    		<div class="card-panel">
    			<div style="font-size:20px">
    				<h3 style="font-size:15px">Jelloff Rice Recipe</h3>

                    <h4 style="font-size:15px"><u>The ingredients for jolloff or jelloff include:</u><h4>
                    <ul style="font-size:15px"><li>3 cups of rice, onions,</li>
						<li>One medium sized blender full of ground tomatoes, </li>
						<li>2 cubes of maggi seasoning, </li>
						<li>Curry powder, </li>
						<li>Thyme, </li>
						<li>Meat(turkey, chicken, beef or fish),</li> 
						<li>Salt and pepper to taste.</li>
					</ul>
					<h4 style="font-size:15px">Preparation:</h4>

                    <p style="font-size:15px">Wash meat and parboil with 1 ball of onion, maggi seasoning, curry powder, thyme, salt and any other meat spice. 
Boil for 5 to 8 minute, 
add water then boil till it is soft for consumption. 
Separate from the water and fry.
Blend the tomatoes and pepper together up to 1/2 blender full, and set aside.
Parboil the rice, wash and set aside 
Now put your cooking pot on fire, allow to dry
Add about 4 to 5 cooking spoon full of groundnut oil, heat for about 3 minute
Then add the sliced onions to the hot oil and stir.
Add the ground tomatoes, fry and stir for the next 10 to 15 minute till the sour taste is eliminated then add water about 2 to 3 cups of water, add Maggi seasoning, salt to taste, and more onions. Taste for salt before adding the rice. You may allow the salt to be excess a little bit as the rice would absorb some.</p>
<br>

<p>Once it taste nice, add the rice, stir evenly and cook till it is soft for consumption. Once done, serve with the fried meat and maybe a glass of cold water too.</p>
    			</div>
    		</div>
    	</div>
    </div>
      
<div class="row">
        <div class="col s12 m4 l2">
    		<div class="card-panel green">
    			<div>
    				<h5><a  href="#" class="white-text">Foreign Dishes</a></h5>
    				<hr>
    				<p><a href="#" class="white-text">Recipe 1</a></p>
    				<hr>
    				<p><a href="#" class="white-text">Recipe 1</a></p>
    				<hr>
    				<p><a href="#" class="white-text">Recipe 1</a></p>
    				<hr>
    				<p><a href="#" class="white-text">Recipe 1</a></p>
    				<hr>
    				<p><a href="#" class="white-text">Recipe 1</a></p>
    				<hr>
    				<p><a href="#" class="white-text">Recipe 1</a></p>
    				<hr>
    				<p><a href="#" class="white-text">Recipe 1</a></p>
    				<hr>
    				<p><a href="#" class="white-text">Recipe 1</a></p>
    				<div><button class="btn hoverable z-depth-4"><a href="#" class="black-text">...More</a></button>
    			</div>
    			</div>
    			
    		</div>
    	</div>

    	<div class="col s12 m8 l10">
    		<div class="card-panel">
    			<div>
    				
    			</div>
    		</div>
    	</div>
    </div>

    <div class="row">
        <div class="col s12 m4 l2">
    		<div class="card-panel green">
    			<div>
    				<h5><a  href="#" class="white-text">Snacks and Pastries</a></h5>
    				<hr>
    				<p><a href="#" class="white-text">Recipe 1</a></p>
    				<hr>
    				<p><a href="#" class="white-text">Recipe 1</a></p>
    				<hr>
    				<p><a href="#" class="white-text">Recipe 1</a></p>
    				<hr>
    				<p><a href="#" class="white-text">Recipe 1</a></p>
    				<hr>
    				<p><a href="#" class="white-text">Recipe 1</a></p>
    				<hr>
    				<p><a href="#" class="white-text">Recipe 1</a></p>
    				<hr>
    				<p><a href="#" class="white-text">Recipe 1</a></p>
    				<hr>
    				<p><a href="#" class="white-text">Recipe 1</a></p>
    				<div><button class="btn hoverable z-depth-4"><a href="#" class="black-text">...More</a></button>
    			</div>
    			</div>
    			
    		</div>
    	</div>

    	<div class="col s12 m8 l10">
    		<div class="card-panel">
    			<div>
    				
    			</div>
    		</div>
    	</div>
    </div>

    <footer class="page-footer purple darken-2" >
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">More Recipes for your delight</h5>
                <p class="grey-text text-lighten-4 left">More-Recipes provides a platform for you to share the awesome and exciting  recipe ideas you have invented or learnt.Share your culinary ideas with food lovers all over the world. Sign up now to begin</p>
              </div>
              <div class="col s12 l6">
              	<img class="responsive-img right" src="images/pizza.jpg" height="200px" width="300px">
              </div>
             
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!"><img src="/images/facebook.jpg"></a>
            </div>
          </div>
        </footer>



	<!--import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>