<!DOCTYPE html>
<html>
<head>
	<!--import Google Icon Font-->
	<link href="https://font.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--import materialize.css-->
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
	<!--Let the browser know the website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial scale=1.0"/>

</head>

<body>
<div class-"navbar-fixed">
	<nav class="nav-extended">
      <div class="nav-wrapper purple darken-2">
          <a href="#" class="brand-logo">More Recipes</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
           <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="#">Home</a></li>
              <li><a href="#">Advertise</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Log out</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                  <li><a href="sass.html">Sass</a></li>
                  <li><a href="badges.html">Components</a></li>
                 <li><a href="collapsible.html">JavaScript</a></li>
                </ul>
        </div>
    </nav>
  </div>
  <div class="responsive-img" style="background-image:url(images/myprofile.jpg)">
    <div class="row">
        <div class="col s3">
          <div class="card-panel blue">
              <div>  
                    <img class=" circle responsive-img" src="images/chef 1.jpg">
                    <p id="username"><b><h5>USER'S NAME</h5></b></p>
                    <p id="username"><b><h6>Cuisine Speciality</h6></b></p>
                    <p><a href="#" class="white-text">My Dashboard</a></p>
                    <p><a href="#" class="white-text">View Top Recipes</a></p>
                    <p><a href="#" class="white-text">My Favorites</a></p>
                    <p><a href="#" class="white-text">Post a Review</a></p>
                </div>
          </div>
        </div>
        <div class="col s9">
          <div class="card-panel blue lighten-3">
              <h4><u>USER'S NAME</u></h4>
              <div>User-Name:             </div>
              <div>Age:             </div>
              <div>Cuisine Speciality:             </div>
              <div>About my self:             </div>
          </div>
        </div>
    </div>
  </div>
    
  <footer class="page-footer purple darken-2" >
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">More Recipes for your delight</h5>
                <p class="grey-text text-lighten-4 left">More-Recipes provides a platform for you to share the awesome and exciting  recipe ideas you have invented or learnt.Share your culinary ideas with food lovers all over the world. Sign up now to begin</p>
              </div>
              <div class="col s12 l6">
                <img class="responsive-img right" src="images/pizza.jpg" height="200px" width="300px">
              </div>
             
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            Copyright © 2017 by Solomon Enenche
            <a class="grey-text text-lighten-4 right" href="#!"><img src="/images/facebook.jpg"></a>
            </div>
          </div>
        </footer>

	<!--import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>